*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}

html{
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    position: relative;
    height: auto;
    min-height: 100%;
    margin: 0;
    background-color: #364156;
}