*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}

html{
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    position: relative;
    height: auto;
    min-height: 100%;
    margin: 0;
    background-color: #E5E5E5;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
} 

/* ::-webkit-scrollbar-track { 
    background-color: #00000049;
} */

::-webkit-scrollbar-thumb {
    background-color: #3341A3;
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}